<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    {% if weight %}

        <p>{{weight}}</p>   

    {% endif %}

    {% if quantities %}

        <p>{{quantities}}</p>  

    {% endif %}

    {% if fuel %}

        <p>{{fuel}}</p>  

    {% endif %}

    {% if vehicle_parts %}

        <p>{{vehicle_parts}}</p>  

    {% endif %}

    {% if parts_list %}

        <p>{{parts_list}}</p>  

    {% endif %}

    {% if test_list %}

        <p>{{test_list}}</p> 
        {% for part in test_list %} 
            {{part__vehicle}}
        {% endfor %}

    {% endif %}

</body>

</html>

